@media (max-width: 800px) {
    .menu-itens {
        display: none;
    }

    .logo {
        margin: auto;
    }

    .container {
        flex-direction: column;
    }

    .btn-inicio {
        margin: 20px;
        width: 90%;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        order: 2;
    }

    .right {
        order: 1;
    }

    .sobre-texto {
        margin: auto;
    }

    .btn-inicio {
        display: block;
    }
}

@media (max-width: 500px) {
    .habilidades {
        padding: 96px 0;
        margin: 0 10px;
    }
    .card{
        width: 120px;
    }
}