@media (max-width: 400px) {
    .habilidades {
        padding: 96px 0;
        margin: 0 10px;
    }

    .card {
        width: 120px;
    }
}

@media (max-width: 800px) {
    .menu-itens {
        display: none;
    }

    .logo {
        margin: auto;
    }
    .container {
        flex-direction: column;
    }

    .btn-inicio {
        margin: 20px;
        width: 90%;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        order: 2;
    }

    .right {
        order: 1;
    }

    .sobre-texto {
        margin: auto;
    }

    .btn-inicio {
        display: block;
    }

    .container-projetos {
        flex-direction: column;
        align-items: center;
    }

    .card-projeto {
        width: 100%;
    }
    

}

@media (min-width: 1400px) {
    .inicio-texto {
        margin: 40px 200px;

    }
}